.navbar {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2); }
  .navbar .navbar-brand {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    font-size: 2em; }
  .navbar .navbar-brand:hover {
    color: white; }

.sub-navbar {
  background-color: #58697a; }

.news {
  display: flex;
  flex-direction: column;
  background-color: #ededed;
  padding: 35px;
  margin-top: 7%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid #DC3545; }
  .news .author {
    color: grey; }
  .news .title, .news .sub-title {
    text-decoration: none;
    color: #DC3545;
    font-weight: bold;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1); }
  .news .title {
    font-size: 2.4em; }
  .news .sub-title {
    font-size: 1.5em; }
  .news .summary {
    color: #58697a; }
