<nav class="d-flex sub-navbar p-1">
    <ul class="navbar-nav mr-auto d-flex flex-row">
        <li class="nav-item mr-2 ml-3">
            <a class="nav-link text-white font-weight-bold">Github</a>
        </li>
        <li class="nav-item mr-2">
            <a class="nav-link text-danger font-weight-bold">Noticias G1</a>
        </li>
        <li class="nav-item mr-2">
            <a class="nav-link text-warning font-weight-bold">Noticias UOL</a>
        </li>
    </ul>
</nav>
<nav class="navbar d-flex justify-content-center bg-danger p-2">
    <a class="navbar-brand" href="/">Weeknd</a>
</nav>